*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin-bottom: 100px;
}
/* header area css */
.carousel-bg{
    background: #fceae8;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
    color: #FF136F;    
}
.head-btn{
    background:linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: #fff;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    padding: 10px 25px;
}